body {
  font-family: "Futura PT Book", serif;
}

.container {
  width: 1200px;
  margin: 100px auto;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: var(--black);
  border-radius: 12px;
  border: 4px solid var(--white);
}

::selection {
  background-color: var(--black);
  color: var(--white);
}

.page-title {
  font-family: "Futura PT Medium", serif;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 32px;
}

.page-text {
  font-size: 20px;
  line-height: 32px;
}

.page-text:not(:first-child) {
  margin-top: 24px;
}

/* Navbar */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 96px;
}

.nav-part:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 48px;
}

.nav-link {
  position: relative;
  color: var(--black);
  font-size: 20px;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link::after {
  content: "";
  height: 1px;
  width: 0%;
  background: var(--black);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s ease;
}

.nav-link__active {
  width: 100%;
}

.nav-mobile {
  padding: 4px 0;
  border: 1px solid var(--border);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 72px;
  right: 40px;
}

.nav-mobile__link {
  min-width: 120px;
  padding: 4px 16px;
  text-align: center;
  color: var(--black);
  font-size: 16px;
}

/* Footer */

.footer {
  padding: 40px 96px;
}

.footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 48px;
}

.footer-part:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.footer-bottom {
  padding-top: 36px;
  border-top: 1px solid var(--black);
  text-align: center;
  font-size: 16px;
}

/* Social Media button */

.social-media {
  width: 32px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}

.social-media svg {
  font-size: 24px;
  color: var(--black);
}

.social-media:hover svg {
  color: var(--dark);
}

.social-media__bg {
  width: 32px;
  aspect-ratio: 1/1;
  border: 2px solid var(--black);
  border-radius: 4px;
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
}

.social-media__bg svg {
  color: var(--white);
}

.social-media__bg:hover {
  background: var(--white);
}

.social-media__bg:hover svg {
  color: var(--black);
}

/* Input */
.input-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-label {
  margin-left: 4px;
  font-size: 17px;
  line-height: 24px;
}

.input-label span {
  margin-left: 4px;
  font-family: "Futura PT Light", serif;
}

.input-label__error {
  font-size: 15px;
  color: var(--red);
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.input-wrapper::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: -4px;
  width: calc(100% + 8px);
  height: calc(100% - 24px);
  border: none;
  background: transparent;
}

.input-wrapper:focus-within::after {
  border: 2px solid var(--black);
}

.input-input {
  position: relative;
  margin-top: 8px;
  width: 100%;
  border: 1px solid var(--border);
  line-height: 32px;
  font-size: 18px;
  padding: 12px 16px;
  background: var(--input);
  outline: none;
}

.input-textarea::after {
  height: calc(100% - 29px) !important;
  bottom: 1px;
}

.input-textarea textarea {
  resize: none;
}

.input-error {
  border: 1px solid var(--red);
}

/* Submit */
.submit-btn {
  display: inline-flex;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  padding: 18px 32px;
  background: var(--black);
  transition: 0.2s ease;
}

.submit-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.ltc {
  padding: 240px 0 100px;
  background-image: url("../../img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.ltc-container {
  width: 1200px;
  margin: 0 auto;
}

.ltc-text {
  font-size: 48px;
  line-height: 60px;
  color: var(--white);
  font-family: "Futura PT Medium", serif;
}

.ltc-btn {
  margin-top: 24px;
  display: inline-block;
  padding: 20px 36px;
  background: var(--white);
  font-size: 20px;
  line-height: 24px;
  color: var(--black);
  cursor: pointer;
  transition: 0.2s ease;
}

.ltc-btn:hover {
  opacity: 0.8;
}

/* Loader */
.loader-full__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
}

.loader-full {
  width: 96px;
  height: 96px;
  border: 10px solid var(--black);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1440px) {
  .container {
    width: 1080px;
    margin: 80px auto;
  }
  .nav,
  .footer {
    padding: 32px 0;
    width: 1080px;
    margin: 0 auto;
  }
  .ltc-container {
    width: 1080px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 80%;
    margin: 60px auto;
  }
  .nav,
  .footer {
    padding: 32px 0;
    width: 80%;
    margin: 0 auto;
  }
  .ltc {
    padding: 160px 0 80px;
  }
  .ltc-container {
    width: 80%;
  }
  .ltc-text {
    font-size: 36px;
    line-height: 48px;
  }
}

@media screen and (max-width: 960px) {
  .page-title {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 24px;
  }
  .page-text {
    font-size: 17px;
    line-height: 24px;
  }
  .container {
    width: 90%;
  }
  .nav,
  .footer {
    padding: 24px 0;
    width: 90%;
  }
  .ltc {
    padding: 150px 0 60px;
  }
  .ltc-container {
    width: 90%;
  }
  .ltc-text {
    font-size: 32px;
    line-height: 40px;
  }
  .ltc-btn {
    margin-top: 16px;
    padding: 12px 24px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin: 50px auto;
  }
  .ltc {
    padding: 120px 0 48px;
  }
}

@media screen and (max-width: 512px) {
  .ltc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ltc-text {
    text-align: center;
    font-size: 28px;
    line-height: 36px;
  }
  .ltc-btn {
    margin-top: 12px;
    padding: 12px 20px;
    font-size: 16px;
    line-height: 18px;
  }
}

@media screen and (max-width: 364px) {
  .footer-header {
    justify-content: center;
    padding-bottom: 24px;
  }

  .footer-part:last-child {
    display: none;
  }
}
