body {
  font-family: "Futura PT Book", serif;
}

.container {
  width: 1200px;
  margin: 100px auto;
}

.page-title {
  font-family: "Futura PT Medium", serif;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 32px;
}

.page-text {
  font-size: 20px;
  line-height: 32px;
}

.page-text:not(:first-child) {
  margin-top: 24px;
}

/* Navbar */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 96px;
}

.nav-part:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 48px;
}

.nav-link {
  position: relative;
  color: var(--black);
  font-size: 20px;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link::after {
  content: "";
  height: 1px;
  width: 0%;
  background: var(--black);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s ease;
}

.nav-link__active {
  width: 100%;
}

/* Footer */

.footer {
  padding: 40px 96px;
}

.footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 48px;
}

.footer-part:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.footer-bottom {
  padding-top: 36px;
  border-top: 1px solid var(--black);
  text-align: center;
  font-size: 16px;
}

/* Social Media button */

.social-media {
  width: 32px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}

.social-media svg {
  font-size: 24px;
  color: var(--black);
}

.social-media:hover svg {
  color: var(--dark);
}

.social-media__bg {
  width: 32px;
  aspect-ratio: 1/1;
  border: 2px solid var(--black);
  border-radius: 4px;
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
}

.social-media__bg svg {
  color: var(--white);
}

.social-media__bg:hover {
  background: var(--white);
}

.social-media__bg:hover svg {
  color: var(--black);
}

/* Input */
.input-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-label {
  margin-left: 4px;
  font-size: 17px;
  line-height: 24px;
}

.input-label span {
  margin-left: 4px;
  font-family: "Futura PT Light", serif;
}

.input-label__error {
  font-size: 15px;
  color: var(--red);
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.input-wrapper::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: -4px;
  width: calc(100% + 8px);
  height: calc(100% - 24px);
  border: none;
  background: transparent;
}

.input-wrapper:focus-within::after {
  border: 2px solid var(--black);
}

.input-input {
  position: relative;
  margin-top: 8px;
  width: 100%;
  border: 1px solid var(--border);
  line-height: 32px;
  font-size: 18px;
  padding: 12px 16px;
  background: var(--input);
  outline: none;
}

.input-textarea::after {
  height: calc(100% - 29px) !important;
  bottom: 1px;
}

.input-textarea textarea {
  resize: none;
}

.input-error {
  border: 1px solid var(--red);
}

/* Submit */
.submit-btn {
  display: inline-flex;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  padding: 18px 32px;
  background: var(--black);
  transition: 0.2s ease;
}

.submit-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.ltc {
  padding: 240px 0 100px;
  background-image: url("../../img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position-y: center;
}

.ltc-container {
  width: 1200px;
  margin: 0 auto;
}

.ltc-text {
  font-size: 48px;
  line-height: 60px;
  color: var(--white);
  font-family: "Futura PT Medium", serif;
}

.ltc-btn {
  margin-top: 24px;
  display: inline-block;
  padding: 20px 36px;
  background: var(--white);
  font-size: 20px;
  line-height: 24px;
  color: var(--black);
  cursor: pointer;
  transition: 0.2s ease;
}

.ltc-btn:hover {
  opacity: 0.8;
}
