.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 72px;
}

.contact-links {
  margin-top: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 16px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-form__response {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 12px 24px;
  background: var(--black);
  color: var(--white);
  font-size: 16px;
}

.contact-form__response svg {
  font-size: 16px;
}

.contact-form__loader {
  width: 16px;
  height: 16px;
  border: 2px solid var(--white);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
